html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}

html {
	background-color: #929292;
	font-family: Helmet, Freesans, sans-serif;
	color: #393939;
}

.hd {
	height: 25px;
	background: #d4d2d3; /* Old browsers */
	background: -moz-linear-gradient(top, #d4d2d3 0%, #bcb9b9 100%); 
	background: -webkit-linear-gradient(top, #d4d2d3 0%,#bcb9b9 100%);
	background: -o-linear-gradient(top, #d4d2d3 0%,#bcb9b9 100%); 
	background: -ms-linear-gradient(top, #d4d2d3 0%,#bcb9b9 100%); 
	background: linear-gradient(to bottom, #d4d2d3 0%,#bcb9b9 100%);
	box-shadow: 0px 0px 5px #000;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

.spinner {
	width: 16px;
	height: 16px;
	background: url('data:image/gif;base64,R0lGODlhEAAQAPIAAJKSkgAAAG9vbyUlJQAAADg4OEpKSlNTUyH%2BGkNyZWF0ZWQgd2l0aCBhamF4bG9hZC5pbmZvACH5BAAKAAAAIf8LTkVUU0NBUEUyLjADAQAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa%2BdIAAAh%2BQQACgABACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkEAAoAAgAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkEAAoAAwAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo%2FIpHI5TAAAIfkEAAoABAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo%2FIpFKSAAAh%2BQQACgAFACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh%2BQQACgAGACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAAKAAcALAAAAAAQABAAAAMyCLrc%2FjDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA%3D%3D');
}

.loading {
	margin: 50px auto;
	width: 16px;
}

.main {

	height: 1200px;
}

.logo {
	padding: 3px;
}

.logotype {
	text-transform: uppercase;
	line-height: .9em;
	text-shadow: 0px 1px #dfdddd;
	font-weight: bold;
	font-size: 11px;
}

.logotype.l2 {
	color: #cb2027;
}

.logotype a {
	text-decoration: none;
	color: inherit;
}

.score {
	position: absolute;
	text-align: right;
	top: 6px;
	right: 5px;
	width: auto;
	font-size: 13px;
	font-weight: bold;
	text-shadow: 0px 1px #dfdddd;
}

.score .count {
	color: #cb2027;
}

.card {
	width: 300px;
	margin: 30px auto 0 auto;
	background: #ddd;
	border-radius: 10px;
	border-bottom: 1px solid #333;

	border-top: 1px solid #fff;
	box-shadow: 3px 3px 5px #555;
}

.card img {
	width: 100%;
}

.card h2 {
	margin-bottom: 0px;
	text-shadow: 0px 1px #fff;
}

.right {
	color: green;
}

.info {
	padding: 15px;
}

.cta {
	padding-top: 10px;
	text-align: center;
}

.answers {
	list-style: none;
	text-align: left;
	padding: 5px;
}

.answer {
	position: relative;
}


.answer input{
	position: absolute;
	top: 0;
	left: 0;
	opacity: 1;
}

.answered .answer input {
	display: none;
}

.answers .right {
	color: green;
	font-weight: bold;
}

.answers .wrong {
	text-decoration: line-through;
}

.answer {
	padding-left: 20px;
	margin-bottom: 10px;
}

.answered .answer {
	padding-left: 0;
}

.la {
	font-size: 10px;
	font-style: italic;
}


.button {
	font-size: 16px;
	padding: 10px;
	font-weight: bold;
	font-size: 16px;
	border: 0;
	text-shadow: 0 -1px 0px #000;
	color: #fff;
	border-radius: 10px;
	box-shadow: inset 0px 1px 3px #000, 0px 1px 2px #fff;
	
	background: #ff3019;
	background: -moz-linear-gradient(top, #ff3019 0%, #cf0404 100%);
	background: -webkit-linear-gradient(top, #ff3019 0%,#cf0404 100%);
	background: -o-linear-gradient(top, #ff3019 0%,#cf0404 100%);
	background: -ms-linear-gradient(top, #ff3019 0%,#cf0404 100%);
	background: linear-gradient(to bottom, #ff3019 0%,#cf0404 100%);
	opacity: 1;
}

.button.hidden {
	opacity: 0;
}
