/* Giving all elements border-box makes math easier*/
body * {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

/* Pretty fonts */
body {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
  font-family: sans-serif;
}

/* This is the part that will move when swiped */
.slide {
/*  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  margin: 0;*/
}

.header {
  height: 178px;
  overflow: hidden;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  border-bottom: 5px solid black;
  background: #fff;
}

.hero {
  display: block;
  position: relative;
  height: 85%;
  width: 100%;
  padding-top: 5px;
  text-align: center;
  background: #000;
}

.navigation {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
.navigation .arrow {
  color: #fff;
  text-decoration: none;
  position: absolute;
  height: 100%;
  width: 50%;
}
.navigation .arrow span {
  display: block;
  position: absolute;
  top: 40%;
  left: 5px;
}
.navigation .next-link {
  left: 50%;
}
.navigation .next-link span {
  left: auto;
  right: 5px;
}

.hero-img {
  display: inline;
  max-height: 100%;
  max-width: 100%;
}

.title {
  border-top: 4px solid black;
  color: black;
  height: 40px;
  font-size: 24px;
  width: 100%;
  margin: 0;
  text-align: left;
}

.bd {
  width: 100%;
  margin-top: 210px;
  padding: 0px 20px;
}
