body {
    font-family: sans-serif;
    background: #ccc;
}

/* gradients */

.switchwrap{
    background: #cccccc;
    background: -moz-linear-gradient(top, #cccccc 0%, #eeeeee 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cccccc), color-stop(100%,#eeeeee));
    background: -webkit-linear-gradient(top, #cccccc 0%,#eeeeee 100%);
    background: -o-linear-gradient(top, #cccccc 0%,#eeeeee 100%);
    background: -ms-linear-gradient(top, #cccccc 0%,#eeeeee 100%);
    background: linear-gradient(to bottom, #cccccc 0%,#eeeeee 100%); 
}

.switchwrap .switch {
    background: #b8e1fc;
    background: -moz-linear-gradient(top, #b8e1fc 0%, #a9d2f3 10%, #90bae4 25%, #90bcea 37%, #90bff0 50%, #6ba8e5 51%, #a2daf5 83%, #bdf3fd 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b8e1fc), color-stop(10%,#a9d2f3), color-stop(25%,#90bae4), color-stop(37%,#90bcea), color-stop(50%,#90bff0), color-stop(51%,#6ba8e5), color-stop(83%,#a2daf5), color-stop(100%,#bdf3fd));
    background: -webkit-linear-gradient(top, #b8e1fc 0%,#a9d2f3 10%,#90bae4 25%,#90bcea 37%,#90bff0 50%,#6ba8e5 51%,#a2daf5 83%,#bdf3fd 100%);
    background: -o-linear-gradient(top, #b8e1fc 0%,#a9d2f3 10%,#90bae4 25%,#90bcea 37%,#90bff0 50%,#6ba8e5 51%,#a2daf5 83%,#bdf3fd 100%);
    background: -ms-linear-gradient(top, #b8e1fc 0%,#a9d2f3 10%,#90bae4 25%,#90bcea 37%,#90bff0 50%,#6ba8e5 51%,#a2daf5 83%,#bdf3fd 100%);
    background: linear-gradient(to bottom, #b8e1fc 0%,#a9d2f3 10%,#90bae4 25%,#90bcea 37%,#90bff0 50%,#6ba8e5 51%,#a2daf5 83%,#bdf3fd 100%);
}

form {
    text-align: center;
    width: 150px;
    position: relative;
    margin:auto;
    font-size:18px;
}

input {
    font-size: 18px;
}

.js .switchwrap {
    position: relative;
    width: 150px;
    height:30px;
    margin:auto;
    box-shadow: inset 1px 1px 3px #000, inset -1px -1px 3px rgba(0,0,0,0.3);
    border-radius: 25px;
    overflow: hidden;
}

.js .switchwrap .switch {
    position: absolute;
    top:0;
    left:0;
    font-size: 12px;
    width: 28px;
    height: 28px;
    border: 1px solid #333;
    border-radius: 25px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.5), inset 1px 1px 1px rgba(255,255,255,0.6);
}

.js .switchwrap #power,
.js .submit {
    position: absolute;
    top:0;
    left:-1000px;
}
